<center>
        <button  ng-click="logout()" ui-sref="login">LogOut</button></br>
        
</center>


<div class="leftdiv">

    <ul ng-repeat="item in users" ng-click="getUser(item)" ng-show='currUser != item.firstName'>
        <button class="userButton" type="submit">{{item.firstName}}&#9679</button>
    </ul>
</div>
<div class="ex3">
    
    <div class="abc">
        <h1>sender:{{currUser}}</h1>
        </div>

<center>
    
      
        <h1 class="align">reciever:{{receiverName}}</h1>
  
    <div ng-repeat="y in msgData">
       
        <span class="rtext"ng-show="currUserId!= y.senderId">:message:{{y.message}} </span></span><br>
        
        <span class="ltext"ng-show="currUserId === y.senderId">:message:{{y.message}}</span></span></br>
        
    </div>
    </center><div>

    <center>
        <input class="inputbox"  ng-model="msg" >
        <button ng-click="add(msg);clearTextArea()">Send</button>
    </center>

    </div>
</center>

</div>