<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" type="text" href="../css/style.css">
    </head>
    <body>
        <div>
            <h1>Welcome to Registration Page</h1>
            First Name: <input type="text" ng-model="first" placeholder="First Name"> <br>
            Last Name: <input type="text" ng-model="last" placeholder="Last Name"> <br>
            Username: <input type="text" ng-model="username" placeholder="Email"> <br>
            Password: <input type="password" ng-model="password" placeholder="Password"> <br>
            <button type="submit" ng-click="submit()">Submit</button>
        </div>
    </body>
</html>